* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(135, 240, 142);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

nav {
    float: left;
    width: 30%;
    height: 500px;
    background: rgb(247, 178, 178);
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 500px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

.name{
    text-align: center;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
.info {
    text-align: center;
}

.container {
    width: 1000px;
    margin: 30px auto;
}
ul > li > a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
}

.btn {
    float: left;
    width: 40%;
    margin-left: 200px;
    margin-bottom: 30px;
    padding: 10px 10px;
    border-radius: 10px;
    color: aliceblue;
    font-size: 20px;
    background-color: rgb(39, 113, 0);
}

.btn:hover {
    background-color: rgb(25, 0, 99);
    cursor: pointer;
}